@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@* @using DevExtremeAspNetCoreApp3.Models *@
@using TestingTesting.Models

<h2>Home</h2>

@(Html.DevExtreme().DataGrid<WeatherModel>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc()
        .Controller("Weather")
        .LoadAction("Get"))
    .Columns(columns => {
     
        columns.AddFor(m => m.location.name)
            .Caption("City");
        columns.AddFor(m => m.location.localtime)
            .Caption("Local Time");
        columns.AddFor(m => m.current.last_updated)
            .Caption("Last Updated");
        columns.AddFor(m => m.current.temp_c)
            .Caption("Temperature C");
        columns.AddFor(m => m.current.wind_kph)
            .Caption("Wind k/h");
        columns.AddFor(m => m.current.wind_degree)
            .Caption("Wind Degree");
        columns.AddFor(m => m.current.wind_dir)
            .Caption("Wind Direction");
        columns.AddFor(m => m.current.humidity)
            .Caption("Humidity");
    })
    .Paging(p => p.PageSize(5))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
)
